#posts {
    padding: 0;
    list-style: none;
}

#posts li {
    border-bottom: 1px solid #bbb;
}

#posts li button {
    width: 100%;
    background-color: var(--white-background-color);
    border: 0;
    outline: none;
    padding: 15px 0;
}

#posts li:hover button {
    background-color: var(--brand-color);
    color: #fff;
    transition: 0.5s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   #posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: 1/2;
        margin: 0 15px;
   } 
}