@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --body-background-color: #eee;
    --white-background-color: #fff;
    --brand-color: hsl(15.7, 94.4%, 42%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

.app {
    background-color: var(--body-background-color);
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--white-background-color);
}

header a img {
    height: 60px;
}

/* Content */
.container {
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: 12% 58% 27%;
    height: 100%;
    gap: 1.1rem;
}

main {
    grid-template-columns: auto 30%;
    gap: 1rem;
    display: grid;
}

/* Sidebar */
.sidebar, #category {
    display: flex;
    flex-direction: column;
    background-color: #ddd
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        grid-template-rows: 1fr;
    }

    main {
        grid-template-columns: 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 100%;
    }

    main {
        padding: 0 15px;
    }
}

/* Landscape of extra big tablet */
@media screen and (min-width: 992px) and (max-width: 1080px) {
    .container {
        max-width: 100%;
    }
}