@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #ff43000a;
}

header a img {
    height: 60px;
}

/* Content */
.container {
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: 12% 58% 27%;
    height: 100vh;
    gap: 1.1rem;
}

main {
    grid-template-columns: 17% 54% 27%;
    gap: 1rem;
    display: grid;
}

/* Sidebar */
.sidebar, #category {
    display: flex;
    flex-direction: column;
    background-color: #ddd
}